@font-face{
    font-family:'spumoni';
    src:url('../fonts/Spumoni.otf');
}


.product-container{
    margin:0 100px 0 100px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px;
    /* border:1px solid green; */
}

.product-img{
    width:250px;
    height:250px;
    border:3px solid whitesmoke;
}

.shop-products{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'spumoni';
    font-weight:100;
    font-size:1.75rem;
}

.product-info{
    color:whitesmoke;
    display:flex;
    justify-content: space-between;
    width:300px;

}

.add-to-cart{
    background-color: whitesmoke;
    border:none;
    color:rgb(102, 10, 10);
    padding:15px 32px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-size:17px;
    border-radius:10px;
    margin-top:0;
}

.add-to-cart:hover {background-color: rgb(207, 206, 206)}

.add-to-cart:active {
  background-color: rgb(207, 206, 206);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}