@font-face{
    font-family:'spumoni';
    src:url('../fonts/Spumoni.otf');
}

/* ---------- ABOUT SECTION ---------- */

.about-story, .about-mailing, .about-contact{
    color:whitesmoke;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:100px 25% 100px 25%;
    font-size: 20px;
}

.about-story > h1, .about-mailing > h1, .about-contact > h1{
    font-family:'spumoni';
    font-weight:100;
    font-size:60px;
    text-decoration: overline;
    margin-bottom: 10px;
}

/* ---------- MAILING LIST SECTION ---------- */

.form-element{
    display:flex;
    gap:10px;
    margin-bottom: 10px;
}

.form-element > input{
    width:300px;
}

.email{
    margin-left: 50px;
}

.mailing-submit{
    background-color: whitesmoke;
    border:none;
    color:rgb(102, 10, 10);
    padding:8px 15px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-size:17px;
    border-radius:10px;
    margin-top:0;
}

.mailing-submit:hover {background-color: rgb(207, 206, 206)}

.mailing-submit:active {
  background-color: rgb(207, 206, 206);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* ---------- CONTACT INFO SECTION ----------- */