.cart-slide-out{
    position:absolute;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    color: rgb(102, 10, 10);
    height:100%;
    z-index:9;
    width:30%;
    top: 0;
    right:0;
  
}

.other-part{
    position:absolute;
    background-color: whitesmoke;
    height:100%;
    z-index:9;
    width:70%;
    opacity: 40%;
    top: 0;
    left:0;
}


/* ----------Cart Items---------- */
.cart-items-div{
    border:5px solid rgb(102, 10, 10);;
    height:400px;
    width:350px;
    border-radius: 20px;
    overflow: scroll;
}

.cart-item{
    display:flex;
    padding:10px;
}

.cart-item-img{
    width:100px;
    height:100px;
    background-color: red;
    margin-left: 10px;
}

.cart-item-info{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width:250px;
}

.cart-nums{
    display:flex;
    justify-content: space-between;
    margin-left: 40px;
}
.cart-quantity{
    display:flex;
    gap:5px;
}