@font-face{
    font-family:'spumoni';
    src:url('./fonts/Spumoni.otf');
}

.header{
    display:flex;
    justify-content: space-between;
    padding:0 5rem 0 3rem;
}

.header-links{
    list-style: none;
    display:flex;
    font-size:25px;
    gap:3rem;
    align-items: center;
    color:whitesmoke;
    font-family:'spumoni';
    font-weight:100;
    text-decoration: none;
}

.h:hover{
    text-decoration: underline;
}


.company-name{
    font-family:'spumoni';
    font-weight:100;
    font-size:50px;
    color:whitesmoke;
}