@font-face{
    font-family:'spumoni';
    src:url('../fonts/Spumoni.otf');
}

.photo-div{
    height:700px;
    display:flex;
    gap:100px
}


.hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/puppy.png");
    height:100%;
    width:100%;
    padding:20px 0 0 0;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;

}

.hero-text{
    color:whitesmoke;
    display:flex;
    flex-direction: column;
    align-items: center;
    width:500px;
    margin: 75px 20px 20px 20px;
    
}

.hero-text h1{
    font-family: 'spumoni';
    font-weight: 100;
    font-size: 100px;
    margin-bottom: 0;
}

.hero-text p{
    margin:0 0 50px 0;
    font-size:18px;
}

.hero-text button{
    width:200px;
    height:60px;
    font-size:30px;
    background-color: rgb(102, 10, 10);
    color:whitesmoke;
    border-radius: 10px;
}

.landing-info{
    height:400px;
}

.landing-info h2{
    font-family: 'spumoni';
    font-weight: 100;
    font-size: 50px;
    color:whitesmoke;
}

.landing-categories{
    display:flex;
    justify-content:space-around;
    align-items: center;
}

img{
    width:200px;
    height:200px;
    border-radius: 30px;
    border:5px solid whitesmoke
}

.cat-name{
    font-family:'spumoni';
    font-weight: 100;
    color:whitesmoke;
    font-size:30px;
    margin-top:10px;
}
