.photo-div{
    border:2px solid rgb(207, 197, 197);
    height:700px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:100px
}


.m-Left{
    color:whitesmoke;
    font-size:100px
}

.m-Right{
    height:600px;
    width:400px;
    
}
.m-Right img{
    height:600px;
    width:400px;

}
